$highlight-font: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial"; 
$body: "Monaco"; 
$code: "Monaco", "Menlo", "Consolas", "Courier New", monospace; 
$highlight-color: #ED0015; 
$highlight-dark-color: #A90010; 
$darker-color: #C6B7B2; 
$darker-dark-color: #A8A8A8; 
$background-colour: #F2F2F2; 
$alt-link-color: #B7233F; 
$warning-color: #B80E3D; 
$gt_walsh: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial"; 
$highlight_color: purple; 
$highlight_dark_color: blue; 
$darker_color: green; 
$darker_dark_color: darkblue; 
$background_colour: blue; 
$alt-link_color: green; 
$warning_color: blue; 
