$highlight-font: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial"; 
$body: "Helvetica Neue", "Arial", san-serif; 
$code: "Monaco", "Menlo", "Consolas", "Courier New", monospace; 
$highlight-color: #ED0015; 
$highlight-dark-color: #00a98b;; 
$darker-color: #b2c6b9;; 
$darker-dark-color: #94a8a7;; 
$background-color: #F2F2F2; 
$alt-link-color: #00a98b;; 
$warning-color: #b88391;; 
$highlight_color: #19b35e;; 
$background-colour: #e5f2ec;; 
