$highlight-font: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial"; 
$body: "Helvetica Neue", "Arial", san-serif; 
$code: "Monaco", "Menlo", "Consolas", "Courier New", monospace; 
$highlight-color: #43D15B; 
$highlight-dark-color: #319942; 
$darker-color: #8A998C; 
$darker-dark-color: #454D46; 
$background-color: #D7E5CF; 
$alt-link-color: #00A81C; 
$warning-color: #0FB82B; 
