$gt-walsh: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial";
$body: "Helvetica Neue", "Arial", san-serif;
$code: "Monaco", "Menlo", "Consolas", "Courier New", monospace;

$highlight-color:#ED0015;
$highlight-dark-color:#A90010;
$darker-color:#C6B7B2;
$background-colour:#F2F2F2;
$alt-link-color:#B7233F;
$warning-color:#B80E3D;

article, header > div {
  width:1080px;
  padding:0;
  margin:0 auto;

}

body {
  font-family: $body;
  font-size: 14px;
  line-height: 20px;
  background-color:$background-colour;
  padding:0;
  margin:0;
}

pre {
  max-width: 100%;
  overflow: scroll;
}

h1,h2,h3,h4,h5 {
  font-weight:normal;
}

h1, h2, h3  {
  color: $highlight-color;
  margin-bottom:0.5em;
  word-wrap:break-word;
}

h4, h5, h6 {
  text-transform: uppercase;
  color: #290002;
  margin-bottom:0.5em;

}

h1 {
  border-left: 4px $highlight-color solid;
  padding-left:12px;
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 36px;
  line-height: 46px;
}

h3 {
  color: $highlight-dark-color;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 19px;
}

ul {
  list-style-type: square;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: $highlight-color;

  code {
    text-decoration: none;
    color: $alt-link-color;
  }

  &:hover {
    text-decoration: underline;
    color: $highlight-dark-color;

    code {
      text-decoration: underline;
      color: #a97322;
    }
  }
}


.index-overview {
  background-color: white;
  width: 728px;
  padding: 30px;
  padding-top:2px;
}

table {
  margin-bottom: 4em;
  border-collapse: collapse;
  vertical-align: middle;
}

td {
  border: 1px solid #9BB3CD;
  padding: .667em;
  font-size: 100%;
}

th {
  border: 1px solid #9BB3CD;
  padding: .3em .667em .3em .667em;
  background: #93A5BB;
  font-size: 103%;
  font-weight: bold;
  color: white;
  text-align: left;
}

/* @group Common page elements */

#footer {
  clear: both;
  padding-top: 20px;
  text-align: center;

  p {
    width:100%;
    max-width:100% !important;
  }
}

.copyright {
  font-size: 12px;
}

.generator {
  font-size: 11px;
}

.main-navigation ul li {
  display: inline;
  margin-left: 15px;
  list-style: none;
}

.navigation-top {
  position:absolute;
  top:8px;
  right:8px;

  ul {
    margin:0;
  }
}

.navigation-bottom {
  clear: both;
  float: right;
  margin-top: 20px;
  margin-bottom: -10px;
}

.open > .disclosure {
  &:after {
      content: "\25BC";
  }
}

.disclosure {
  &:after {
      content: "\25BA";
  }
}

.nodisclosure, .disclosure {
  display: inline-block;
  height: 15px;;
  margin-right: 8px;
  position: relative;
  width: 9px;
}

/* @end */

/* @group Header */

header#app_header.minimised {
  top:0px;
  bottom:auto;

  div {
    -webkit-transition:height 0.2s;
    height: 20px + (20px*2) ;

    ul#subtitle {
        z-index:1000;
    }

    // Ergh, such a hack
    div#cover {
      background-color: white;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      height: 108px;
      padding: 0;
      margin-left:-20px;
      z-index:1001;
    }

    li a {
      -webkit-transition:opacity 0.3s;
      opacity:0;
    }
    &:hover {
      height: 60px + (20px*2) ;

      ul#subtitle {
        height:auto;
        -webkit-transition:height 0.2s;

        li a {
          -webkit-transition:opacity 0.3s;
          opacity:1;
        }
      };

      div {
        height:160px - 28px * 2;
      }
    }
  }

    h1 {
      top:0px;
      padding-top:0px;
      font-size:48px;
      text-align:center;
      width: auto;
      left: 64px;
      right:64px;
      z-index:1002;
      display:block;
    }

    em {
      font-size:32px;
    }

    img#actions {
      z-index:1002;
    }

    a#logo {
      background-image:url(file:///Users/orta/dev/html/cocoadocs/public/img/CocoaDocsMiniLogo@2x.png);
      width:80px;
      height:65px;
      background-size: 80px 65px;
      z-index:1002;
    }
}

header#app_header {

  font-family: $gt-walsh;
  background-color:white;

  a#logo {
    background-image:url(file:///Users/orta/dev/html/cocoadocs/public/img/CocoaDocsLogo@2x.png);
    width: 264px;
    height:65px;
    background-size: 264px 65px;
    display:inline-block;
    position:absolute;
    top:25px;
  }

  img#actions {
    background-image:url(file:///Users/orta/dev/html/cocoadocs/public/img/CocoaDocsSettings.png);
    position:absolute;
    top:25px;
    background-size: 65px 65px;
    right:0;
  }

  div#cover {
    display:none;
  }

  div {
    height:320px - 28px * 2;
    position:relative;
    padding:28px;
  }

  h1 {
    bottom:48px;
    left:20px;
    font-size:72px;
    border-left:none;
    position:static;

    color: $highlight-color;
    position:absolute;
    padding: 0;

    em {
      color:$background-colour;
      font-weight:normal;
      font-style:normal;
      margin-left:12px;
    }

    img {
      vertical-align:middle;
      margin-left:12px;
    }
  }


  ul#subtitle {
    position:absolute;
    bottom:0;
    left:20px;
    padding: 0;
    margin-bottom:0;
    font-size:32px;
    color: $darker-color;

    li:last-child {
      border-right: 2px $background-colour solid;
    }

    > li {
      display:inline-block;
      float:left;
      border-left: 2px $background-colour solid;
      margin-bottom:0;

      span.subtitle {
        display:block;
        float:left;
        font-size:14px;
        margin-right:8px;
      }
      span.title {
        display:block;
      }

      &.no-link {
        padding:12px 24px;
        height:20px;

      }

      &#versions {
        position:relative;
      }

      a {
        padding:12px 24px;
        height:20px;
        color: $darker-color;
        display:block;
      }
    }

    li#versions:hover ul {
      display:block;
    }

    // Popover for versions
    ul {
      li {
        font-size:18px;
        list-style:none;
        margin:0;

        &:hover {
         background-color:$background-colour;
        }

        a {
          padding: 6px 18px;
        }
      }

      display:none;
      width:100%;
      position:absolute;
      padding-left:0;
      padding-top:12px;
      left:-2px;
      top:36px;
      background-color:white;

      border-left: 2px $background-colour solid;
      border-bottom: 2px $background-colour  solid;
      border-right: 2px $background-colour  solid;

      text-align:left;

      &:hover {
        display:block;
      }
    }
  }
}

/* @end */

#contents {
  background-color:white;
  padding:20px;
  width:1080px - 44px - 240px;
  float:right;
  margin-top:40px;
  position:relative;

  div#header {
    margin-top:20px;
    margin-left:-20px;
    border-left: 4px $highlight-color solid;

    h1 {
      font-size:40px;
      border-left:none;
      margin-left:20px;
    }
  }
}


/* @group Table of contents */

#tocContainer {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
    top: 0px;
  float:left;

  > ul#toc {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-left:0;
    margin-top:40px;

    > li {
      width: 180px;
      font-size: 14px;
      background-color: white;
      padding: 12px;
      margin: 20px 20px;
      list-style:none;

      > .sectionName a {
        color: $highlight-color;
        font-weight: normal;
        &:hover {
          text-decoration: none;
        }
      }
    }

    li.children > ul {
      display: none;
      height: 0;
      font-size: 12px;
    }

    > li > ul {
      margin: 0;
      padding: 0;
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 15px;
    }
  }
}

ul#toc > li > ul > li {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

#tocContainer > ul#toc {
  > li ul {
    list-style: none;
    margin-right: 0;
    padding-right: 0;
  }
  li.children.open > ul {
    display: block;
    height: auto;
    margin-left: -15px;
    padding-left: 0;
  }
  > li > ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

ul#toc > li > ul > li {
  margin-left: 0;
  padding-left: 15px;
}

#tocContainer {
  li ul li {
    margin-top: 0.583em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span.sectionName {
      white-space: normal;
    }
  }
  > ul#toc > li > ul {
    > li > .sectionName a {
      font-weight: bold;
    }
    a {
      color: #4F4F4F;
    }
  }
}

/* @end */

/* @group Index formatting */

.index-column {
  width: 180px;
  font-size: 11px;
  background-color: white;
  padding: 12px;
  margin: 20px 20px;

  h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 8px;
    line-height:18px;
  }

  ul {
    margin: 8px 0 0 0;
    padding: 0;
    list-style: none;

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 3px 0;
      padding: 0;

      a {
        color:black;
        text-decoration:none;

        &:hover {
          color:$highlight-dark-color;
          text-decoration:underline;
        };
      }

    }
  }
}

.hierarchy-column {
  width: 794px;
  padding: 20px;
  float:right;
  background-color:white;

  ul {
    font-size:20px;
    padding-top:12px;
    li {
      list-style:none;
      padding:6px;
    }
  }
}

/* @end */

/* @group Common formatting elements */
article {

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .title {
    font-weight: normal;
    font-size: 215%;
    margin-top: 0;
  }

  .note {
    background-color: white;
    margin: 1.667em 0 1.75em 0;
    padding: 0 .667em .083em .750em;
  }

  .warning {
    border: 1px solid lighten( $warning-color, 50% );
    background-color: lighten( $warning-color, 58% );
    margin-bottom: 0.5em;
    padding: 0.3em 0.8em;
  }

  .bug {
    border: 1px solid #000;
    background-color: #ffc;
    margin-bottom: 0.5em;
    padding: 0.3em 0.8em;
  }

  .deprecated {
    color: #f63c29;
  }
}

/* @end */

/* @group Common layout */

.section {
  margin-top: 3em;
}

/* @end */

/* @group Object specification section */

.section-specification {
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-size: 12px;
  table {
    margin-bottom: 0em;
    border-top: 1px solid #e5d7d9;
  }
  td {
    vertical-align: top;
    border-bottom: 1px solid #e5ccd2;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding: .6em;
  }
  .specification-title {
    font-weight: bold;
  }
}

/* @end */

/* @group Tasks section */

.task-list {
  list-style-type: none;
  padding-left: 0px;
  li {
    margin-bottom: 3px;
  }
}

.task-item-suffix {
  color: $darker-color;
  font-size: 12px;
  margin-left: 0.5em;
}

span.tooltip:hover span.tooltip {
  display: block;
  position: absolute;
  margin: 13px;
}

span.tooltip span.tooltip {
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 1.0em;
  display: none;
  padding: 0.3em 1em;
  color: #000;
  text-align: left;
  border: 1px solid black;
  border-radius: 4px;
  width: 640px;
}

/* @end */

/* @group Method section */

.method-declaration {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: -20px;
  padding-right:12px;
  code {
    width:100%;
    font: 14px $code;
    color: #000;
    display: inline-block;
    padding: 0.5em;
    border-radius: 4px;
    background-color: $background-colour;
  }
}

.declaration {
  color: #000;
}

div.section-method {
  clear:both;
  margin-bottom:80px;
}

.method-subsection.discussion-section h5 {
  text-transform:none;
  color: $darker-color;
}

.method-subsection {
  clear:both;
  padding-top:12px;

  h5 {
    margin-top:0.5em;
  }

  h4 {
    font-size: 14px;
    width: 120px;
    margin-top: 0;
    text-align: right;
    float: left;
    color: $darker-color;
    line-height: 18px;
    text-transform:initial;
  }

  .params {
    width:796px - 120px - 12px;
    float:right;
    clear:right;
    margin:0;

    p:first-child, dl:first-child {
      margin-top:0;
    }

    > ul {
      margin:0;
    }

    dt {
      margin:0;
      padding:0;
      font-style: normal;
    }

    dd {
      margin:0;
      padding:0;
    }
  }

  .parameter-title:after {
      content: ":";
  }
}

#tocContainer.hideInXcode {
  display: none;
  border: 0px solid black;
}

#top_header.hideInXcode {
  display: none;
}

#contents.hideInXcode {
  border: 0px solid black;
  top: 0px;
  left: 0px;
}

/* GFM support */

/* support prettier index pages */

#overview_contents {
  min-width:1080px;
  .section-header {
    display:none;
  }
}

#has_index {

  #sidebar {
    float: left;
    margin-top:22px;
  }
  #container {
    float:left;
  }
}

/* Add github icon */

h3 .hover-only, h1 .hover-only {
  display:inline;
  opacity:0.2;
}

h3:hover .hover-only, h1:hover .hover-only {
	opacity:1;
}

h1 .hover-only img {
  vertical-align: middle;
}


@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-web.eot');
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-web.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-web.woff') format('woff'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-web.ttf') format('truetype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-web.svg#gt_walsheim_bold') format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'gt_walsheim_bold_oblique';
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-oblique-web.eot');
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-oblique-web.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-oblique-web.woff') format('woff'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-oblique-web.ttf') format('truetype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-bold-oblique-web.svg#gt_walsheim_bold_oblique') format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.eot');
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.eot"?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.woff') format('woff'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.ttf') format('truetype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.svg#gt_walsheim_regular') format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'gt_walsheim_regular_oblique';
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-regular-oblique-web.eot');
    src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-regular-oblique-web.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-regular-oblique-web.woff') format('woff'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-regular-oblique-web.ttf') format('truetype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-regular-oblique-web.svg#gt_walsheim_regular') format('svg');
    font-weight: 400;
    font-style: italic
}
