body {
  font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
  font-size: 13px;
}

code {
  font-family: Courier, Consolas, monospace;
  font-size: 13px;
  color: #666;
}

#GFM pre {
  font-family: Courier, Consolas, monospace;
  font-size: 13px;
  line-height: 18px;
  tab-interval: 0.5em;
  border: 1px solid #C7CFD5;
  background-color: #FDF9F1;
  color: #424242;
  padding: 0.3em 1em;
}

ul {
  list-style-type: square;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #ca8a29;
  
  code {
    text-decoration: none;
    color: #ca8a29;
  }
  
  &:hover {
    text-decoration: underline;
    color: #a97322;
    
    code {
      text-decoration: underline;
      color: #a97322;
    }
  }
}

h2 {
  border-bottom: 1px solid #a87571;
  color: #5e3e00;
  font-size: 187%;
  font-weight: normal;
  margin-top: 1.75em;
  padding-bottom: 2px;
}

table {
  margin-bottom: 4em;
  border-collapse: collapse;
  vertical-align: middle;
}

td {
  border: 1px solid #9BB3CD;
  padding: .667em;
  font-size: 100%;
}

th {
  border: 1px solid #9BB3CD;
  padding: .3em .667em .3em .667em;
  background: #93A5BB;
  font-size: 103%;
  font-weight: bold;
  color: white;
  text-align: left;
}

/* @group Common page elements */

#top_header {
  height: 91px;
  left: 0;
  min-width: 598px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 900;
}

#footer {
  clear: both;
  padding-top: 20px;
  text-align: center;

  p {
    width:100%;
    max-width:auto;
  }
}

#contents, #overview_contents {
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid #2B334F;
  position: absolute;
  top: 91px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  min-width: 550px;
  
  p {
    max-width: 800px;
    line-height: 18px;
    font-size: 13px;
  }
}

#contents.isShowingTOC {
  left: 230px;
  min-width: 320px;
}

.copyright {
  font-size: 12px;
}

.generator {
  font-size: 11px;
}

.main-navigation ul li {
  display: inline;
  margin-left: 15px;
  list-style: none;
}

.navigation-top {
  clear: both;
  float: right;
}

.navigation-bottom {
  clear: both;
  float: right;
  margin-top: 20px;
  margin-bottom: -10px;
}

.open > .disclosure {
  background-image: url("img/disclosure_open.png");
}

.disclosure {
  background: url("img/disclosure.png") no-repeat scroll 0 0;
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  position: relative;
  width: 9px;
}

.nodisclosure {
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  position: relative;
  width: 9px;
}

/* @end */

/* @group Header */

#top_header {
  #library {
    background-color: #fcf3e5;
    border-bottom: 1px solid #caaf9b;
    background-image: -webkit-linear-gradient(top, #fcf3e5, #eee2d0);
    background-image: -moz-linear-gradient(top, #fcf3e5, #eee2d0);
    height: 36px;
    font-size: 115%;
    color: #8c7a73;
  }
  #cocoapods a {
    color: #452e00;
  }
  .navButton {
    color: #723d2a;
    float: left;
    color: #8c7a73;
    border-right: 1px solid #bea693;
    a {
      padding: 12px 12px;
      line-height: 32px;
      vertical-align: middle;
    }
  }
  
  #library {
    #developerHome {
      float: right;
      a {
        color: black;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }

  #title {
    background-image: -webkit-linear-gradient(top, #a86b27, #7a4d24);
    background-image: -moz-linear-gradient(top, #a86b27, #7a4d24);
    background-color: #a86b27;
    color: #f0e3cf;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    height: 25px;
    overflow: hidden;
    position:relative;
    
    a {
      height:25px;
    }
    
    #dash_img {
      position:absolute;
      top:1px;
      right:12px; 
    }
    
    #xcode_img {
      position:absolute;
      top:1px;
      right:42px; 
    }
    
    #dash_img:hover ~ #dropdown {
      display:block;
    }
     #xcode_img:hover ~ #dropdown {
       display:block;
     }

    #dash_img:hover ~ #dropdown #dash {
      display:block;
    }
    
    #xcode_img:hover ~ #dropdown #xcode {
      display:block;
    }
    
    #dropdown {
      display:none;
      position:fixed;
      right:0px;
      top:62px;
      background-color:#FCF3E5;
      border-bottom-left-radius: 4px;
      border-left:1px black solid;
      border-bottom:1px black solid;
      color:black;
      padding:4px 18px;
      text-align:center;
      z-index:99;
      
      &:hover {
        display:block;
      }
      
      input {
        width:100%;
      }
    }
    }
  h1 {
    font-size: 115%;
    font-weight: normal;
    margin: 0;
    padding: 3px 0 2px;
    text-align: center;
    white-space: nowrap;
  }
}

#headerButtons {
  background-color: #D8D8D8;
  background-image: url("img/button_bar_background.png");
  border-bottom: 1px solid #EDEDED;
  border-top: 1px solid #2B334F;
  font-size: 8pt;
  height: 28px;
  left: 0;
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 61px;
  li {
    background-repeat: no-repeat;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

#libraryVersion {
  ul {
    display: none;
  }
  &:hover ul {
    display: block;
    list-style: none;
    position: absolute;
    z-index: 99;
    background-image: -webkit-linear-gradient(top, #fcf3e5, #eee2d0);
    background-image: -moz-linear-gradient(top, #fcf3e5, #eee2d0);
    margin: 0;
    padding-left: 0px;
    border-left: 1px solid #bea693;
    border-bottom: 1px solid #bea693;
    border-right: 1px solid #bea693;
  }
}

#top_header #libraryVersion ul a {
  padding: 8px 12px;
}

#libraryVersion ul li {
  margin-bottom: 0;
}

#toc_button button {
  border-style: none solid none none;
  border-width: 0 1px 0 0;
  height: 28px;
  margin: 0;
  padding-left: 30px;
  text-align: left;
  width: 230px;
  background-color: transparent;
  background-image: url(http://cocoadocs.org/docsets/AFNetworking/1.2.0/Classes/img/button_bar_background.png);
}

li#jumpto_button {
  left: 230px;
  margin-left: 0;
  position: absolute;
  select {
    height: 22px;
    margin: 5px 2px 0 10px;
    max-width: 300px;
  }
}

/* @end */

/* @group Table of contents */

#tocContainer {
  &.isShowingTOC {
    border-right: 1px solid #ACACAC;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
  }
  background-image: -webkit-linear-gradient(top, #fcf3e5, #eee2d0);
  background-image: -moz-linear-gradient(top, #fcf3e5, #eee2d0);
  border-top: 1px solid #4f3f21;
  bottom: 0;
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 91px;
  width: 229px;
  > ul#toc {
    font-size: 11px;
    margin: 0;
    padding: 12px 0 18px;
    width: 209px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    > li {
      margin: 0;
      padding: 0 0 7px 30px;
      text-indent: -15px;
      > .sectionName a {
        color: #000000;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
    }
    li.children > ul {
      display: none;
      height: 0;
    }
    > li > ul {
      margin: 0;
      padding: 0;
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 15px;
    }
  }
}

ul#toc > li > ul > li {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

#tocContainer > ul#toc {
  > li ul {
    list-style: none;
    margin-right: 0;
    padding-right: 0;
  }
  li.children.open > ul {
    display: block;
    height: auto;
    margin-left: -15px;
    padding-left: 0;
  }
  > li > ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

ul#toc > li > ul > li {
  margin-left: 0;
  padding-left: 15px;
}

#tocContainer {
  li ul li {
    margin-top: 0.583em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span.sectionName {
      white-space: normal;
    }
  }
  > ul#toc > li > ul {
    > li > .sectionName a {
      font-weight: bold;
    }
    a {
      color: #4F4F4F;
    }
  }
}

/* @end */

/* @group Index formatting */

.index-title {
  font-size: 13px;
  font-weight: normal;
}

.index-column {
  float: left;
  width: 30%;
  min-width: 100px;
  font-size: 11px;

  ul {
    margin: 8px 0 0 0;
    padding: 0;
    list-style: none;

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 3px 0;
      padding: 0;
    }
  }
}

.hierarchy-column {
  min-width: 400px;
  ul {
    margin: 3px 0 0 15px;
    li {
      list-style-type: square;
    }
  }
}

/* @end */

/* @group Common formatting elements */

.title {
  font-weight: normal;
  font-size: 215%;
  margin-top: 0;
}

.subtitle {
  font-weight: normal;
  font-size: 180%;
  color: #723d2a;
  border-bottom: 1px solid #ca8a29;
}

.subsubtitle {
  font-weight: normal;
  font-size: 145%;
  height: 0.7em;
}

.note {
  border: 1px solid #ca8a29;
  background-color: white;
  margin: 1.667em 0 1.75em 0;
  padding: 0 .667em .083em .750em;
}

.warning {
  border: 1px solid #c5864b;
  background-color: #F0F3F7;
  margin-bottom: 0.5em;
  padding: 0.3em 0.8em;
}

.bug {
  border: 1px solid #000;
  background-color: #ffc;
  margin-bottom: 0.5em;
  padding: 0.3em 0.8em;
}

.deprecated {
  color: #f63c29;
}

/* @end */

/* @group Common layout */

.section {
  margin-top: 3em;
}

/* @end */

/* @group Object specification section */

.section-specification {
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-size: 12px;
  table {
    margin-bottom: 0em;
    border-top: 1px solid #e5d7d9;
  }
  td {
    vertical-align: top;
    border-bottom: 1px solid #e5ccd2;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding: .6em;
  }
  .specification-title {
    font-weight: bold;
  }
}

/* @end */

/* @group Tasks section */

.task-list {
  list-style-type: none;
  padding-left: 0px;
  li {
    margin-bottom: 3px;
  }
}

.task-item-suffix {
  color: #996;
  font-size: 12px;
  font-style: italic;
  margin-left: 0.5em;
}

.tooltip {
  border-radius: 4px;
  background-color:  rgba(254, 235, 197, 0.8);
  font-size: 1.0em;
  display: none;
  padding: 0.3em;
  color: #000;
  text-align: left;
  border: 1px solid hsl(40, 97%, 40%);
  background-color: hsla(40, 97%, 88%, 0.88);
  border-radius: 4px;

  &:hover {
    display: block;
    position: absolute;
    margin-left: 2em;
  }

  p {
    margin: 13px;
  }
}
  
/* @end */

/* @group Method section */

.section-method {
  margin-top: 2.3em;
}

.method-title {
  margin-bottom: 1.5em;
}

.method-subtitle {
  margin-top: 0.7em;
  margin-bottom: 0.2em;
}

.method-subsection p {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}

.method-declaration {
  margin-top: 1.182em;
  margin-bottom: .909em;
  code {
    font: 14px Courier, Consolas, monospace;
    color: #000;
    display: inline-block;
    padding: 0.5em;
    border-radius: 4px;
    background-color: hsl(37, 79%, 94%);
  }
}

.declaration {
  color: #000;
}

.argument-def {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  dd {
    margin-left: 1.25em;
  }
}

.see-also-section {
  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0;
  }
  li {
    margin-bottom: 3px;
  }
}

.declared-in-ref {
  color: #666;
}

#tocContainer.hideInXcode {
  display: none;
  border: 0px solid black;
}

#top_header.hideInXcode {
  display: none;
}

#contents.hideInXcode {
  border: 0px solid black;
  top: 0px;
  left: 0px;
}

/* GFM support */

/* support prettier index pages */

#has_index {

  .section {
    margin-top: 0px;
    float: right;
    width: 78%;
  }
  .index-column {
    margin-top: 20px;
    float: left;
    width: 20%;
  }
}

/* Add github icon */

h3 .hover-only, h1 .hover-only {
  display:none;
}

h3:hover .hover-only, h1:hover .hover-only {
  display:inline;
}

h1:hover .hover-only img {
  vertical-align: top; 
}
