#GFM h1, #GFM h2, #GFM h3, #GFM h4, #GFM h5, #GFM h6 {
  font-family: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial";
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: text; }
#GFM h1, #GFM h2 {
  color: #F40E06; }
#GFM h3, #GFM h4, #GFM h5, #GFM h6 {
  text-transform: uppercase;
  color: #290002; }
#GFM h1 {
  font-size: 48px; }
#GFM h2 {
  font-size: 36px;
  margin: 32px 0 24px 0; }
#GFM h3 {
  font-size: 22px;
  margin: 24px 0 16px 0; }
#GFM h4 {
  font-size: 16px; }
#GFM h5, #GFM h6 {
  font-size: 14px; }
#GFM ul, #GFM ol {
  padding-left: 30px; }
#GFM hr {
  background-color: #ccc;
  border: 0;
  height: 4px;
  padding: 0; }

#wrapper > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
#wrapper > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  #wrapper > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
#wrapper > h3:first-child, #wrapper > h4:first-child, #wrapper > h5:first-child, #wrapper > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, ul li > :first-child, ol li > :first-child {
  margin-top: 0; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

#GFM blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777; }
  #GFM blockquote > :first-child {
    margin-top: 0; }
  #GFM blockquote > :last-child {
    margin-bottom: 0; }
#GFM table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit; }
  #GFM table th {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 6px 13px; }
  #GFM table td {
    border: 1px solid #ccc;
    padding: 6px 13px; }
  #GFM table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; }
  #GFM table trimg {
    max-width: 100%; }
#GFM code, #GFM tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap; }
#GFM pre > code {
  margin: 0;
  padding: 0;
  white-space: pre; }
#GFM pre {
  background-color: #F2F2F2;
  border: 0;
  border-left: 2px solid #A90010;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px; }
#GFM .poetry pre {
  font-family: Georgia, Garamond, serif !important;
  font-style: italic;
  font-size: 110% !important;
  line-height: 1.6em;
  display: block;
  margin-left: 1em; }
  #GFM .poetry pre code {
    font-family: Georgia, Garamond, serif !important;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap; }
#GFM sup, #GFM sub, #GFM a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  vertical-align: super;
  position: relative; }
#GFM sub {
  vertical-align: sub;
  top: -1px; }
#GFM em {
  font-style: normal;
  color: #818181; }
#GFM .em-class {
  color: #4E95DF; }
#GFM .em-number {
  color: #DE292C; }
#GFM .em-keyword {
  color: #B7233F; }
#GFM .em-method {
  color: #290406; }
#GFM .em-property {
  color: #4E95DF; }
#GFM .em-constant {
  color: #AA1F22; }
#GFM .em-preprocessor {
  color: #76472c; }
#GFM .em-string, #GFM .emphasize .em-string * {
  color: #B7233F; }
#GFM .em-comment, #GFM .emphasize .em-comment * {
  color: #098d10; }
