#GFM h1, #GFM h2, #GFM h3, #GFM h4, #GFM h5, #GFM h6 {
	margin: 20px 0 10px;
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: text;
}

#GFM h1 {
	font-size: 28px;
}

#GFM h2 {
	font-size: 24px;
	border-bottom: 1px solid #ccc;
}

#GFM h3 {
	font-size: 18px;
}

#GFM h4 {
	font-size: 16px;
}

#GFM h5 {
	font-size: 14px;
}

#GFM h6 {
	font-size: 14px;
}

#GFM p, #GFM blockquote, #GFM ul, #GFM ol, #GFM dl, #GFM table, #GFM pre {
	margin: 15px 0;
}

#GFM ul, #GFM ol {
	padding-left: 30px;
}

#GFM hr {
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
	border: 0 none;
	color: #ccc;
	height: 4px;
	padding: 0;
}

#wrapper > h2:first-child, #wrapper > h1:first-child, #wrapper > h1:first-child + h2, #wrapper > h3:first-child, #wrapper > h4:first-child, #wrapper > h5:first-child, #wrapper > h6:first-child {
	margin-top: 0;
	padding-top: 0;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
	margin-top: 0;
	padding-top: 0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
	margin-top: 0;
}

ul li > :first-child, ol li > :first-child {
	margin-top: 0;
}

dl {
	padding: 0;
}

dl dt {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 0;
	margin: 15px 0 5px;
}

dl dt:first-child {
	padding: 0;
}

dl dt > :first-child {
	margin-top: 0;
}

dl dt > :last-child {
	margin-bottom: 0;
}

dl dd {
	margin: 0 0 15px;
	padding: 0 15px;
}

dl dd > :first-child {
	margin-top: 0;
}

dl dd > :last-child {
	margin-bottom: 0;
}

#GFM blockquote {
	border-left: 4px solid #ddd;
	padding: 0 15px;
	color: #777;
}

#GFM blockquote > :first-child {
	margin-top: 0;
}

#GFM blockquote > :last-child {
	margin-bottom: 0;
}

#GFM table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
	font: inherit;
}

#GFM table th {
	font-weight: bold;
}

#GFM table th, #GFM table td {
	border: 1px solid #ccc;
	padding: 6px 13px;
}

#GFM table tr {
	border-top: 1px solid #ccc;
	background-color: #fff;
}

#GFM table trimg {
	max-width: 100%;
}

#GFM code, #GFM tt {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

#GFM pre > code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: 0;
	background: transparent;
}

#GFM .highlight pre, pre {
	background-color: #FFFCF5;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

#GFM pre code, pre tt {
	background-color: transparent;
	border: 0;
}

#GFM .poetry pre {
	font-family: Georgia, Garamond, serif !important;
	font-style: italic;
	font-size: 110% !important;
	line-height: 1.6em;
	display: block;
	margin-left: 1em;
}

#GFM .poetry pre code {
	font-family: Georgia, Garamond, serif !important;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	white-space: pre-wrap;
}

#GFM sup, #GFM sub, #GFM a.footnote {
	font-size: 1.4ex;
	height: 0;
	line-height: 1;
	vertical-align: super;
	position: relative;
}

#GFM sub {
	vertical-align: sub;
	top: -1px;
}

#GFM .highlight .c {
	color: #998;
	font-style: italic;
}

#GFM .highlight .err {
	color: #a61717;
	background-color: #e3d2d2;
}

#GFM .highlight .k {
	font-weight: bold;
}

#GFM .highlight .o {
	font-weight: bold;
}

#GFM .highlight .cm {
	color: #998;
	font-style: italic;
}

#GFM .highlight .cp {
	color: #999;
	font-weight: bold;
}

#GFM .highlight .c1 {
	color: #998;
	font-style: italic;
}

#GFM .highlight .cs {
	color: #999;
	font-weight: bold;
	font-style: italic;
}

#GFM .highlight .gd {
	color: #000;
	background-color: #fdd;
}

#GFM .highlight .gd .x {
	color: #000;
	background-color: #faa;
}

#GFM .highlight .ge {
	font-style: italic;
}

#GFM .highlight .gr {
	color: #a00;
}

#GFM .highlight .gh {
	color: #999;
}

#GFM .highlight .gi {
	color: #000;
	background-color: #dfd;
}

#GFM .highlight .gi .x {
	color: #000;
	background-color: #afa;
}

#GFM .highlight .go {
	color: #888;
}

#GFM .highlight .gp {
	color: #555;
}

#GFM .highlight .gs {
	font-weight: bold;
}

#GFM .highlight .gu {
	color: #800080;
	font-weight: bold;
}

#GFM .highlight .gt {
	color: #a00;
}

#GFM .highlight .kc {
	font-weight: bold;
}

#GFM .highlight .kd {
	font-weight: bold;
}

#GFM .highlight .kn {
	font-weight: bold;
}

#GFM .highlight .kp {
	font-weight: bold;
}

#GFM .highlight .kr {
	font-weight: bold;
}

#GFM .highlight .kt {
	color: #458;
	font-weight: bold;
}

#GFM .highlight .m {
	color: #997735;
}

#GFM .highlight .s {
	color: #dd742d;
}

#GFM .highlight .na {
	color: #008080;
}

#GFM .highlight .nb {
	color: #0086b3;
}

#GFM .highlight .nc {
	color: #458;
	font-weight: bold;
}

#GFM .highlight .no {
	color: #008080;
}

#GFM .highlight .ni {
	color: #800080;
}

#GFM .highlight .ne {
	color: #900;
	font-weight: bold;
}

#GFM .highlight .nf {
	color: #900;
	font-weight: bold;
}

#GFM .highlight .nn {
	color: #555;
}

#GFM .highlight .nt {
	color: #000080;
}

#GFM .highlight .nv {
	color: #008080;
}

#GFM .highlight .ow {
	font-weight: bold;
}

#GFM .highlight .w {
	color: #bbb;
}

#GFM .highlight .mf {
	color: #099;
}

#GFM .highlight .mh {
	color: #099;
}

#GFM .highlight .mi {
	color: #099;
}

#GFM .highlight .mo {
	color: #099;
}

#GFM .highlight .sb {
	color: #d14;
}

#GFM .highlight .sc {
	color: #d14;
}

#GFM .highlight .sd {
	color: #d14;
}

#GFM .highlight .s2 {
	color: #d14;
}

#GFM .highlight .se {
	color: #d14;
}

#GFM .highlight .sh {
	color: #d14;
}

#GFM .highlight .si {
	color: #d14;
}

#GFM .highlight .sx {
	color: #d14;
}

#GFM .highlight .sr {
	color: #009926;
}

#GFM .highlight .s1 {
	color: #d14;
}

#GFM .highlight .ss {
	color: #990073;
}

#GFM .highlight .bp {
	color: #999;
}

#GFM .highlight .vc {
	color: #008080;
}

#GFM .highlight .vg {
	color: #008080;
}

#GFM .highlight .vi {
	color: #008080;
}

#GFM .highlight .il {
	color: #099;
}

#GFM .highlight .gc {
	color: #999;
	background-color: #eaf2f5;
}

#GFM .type-csharp .highlight .k {
	color: #00f;
}

#GFM .type-csharp .highlight .kt {
	color: #00f;
}

#GFM .type-csharp .highlight .nf {
	color: #000;
	font-weight: normal;
}

#GFM .type-csharp .highlight .nc {
	color: #2b91af;
}

#GFM .type-csharp .highlight .nn {
	color: #000;
}

#GFM .type-csharp .highlight .s {
	color: #a31515;
}

#GFM .type-csharp .highlight .sc {
	color: #a31515;
}