html, body {
  margin: 0;
  padding: 0;
}
  
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #452e00;
  background: #401600;
}
  
a {
  color: #ca8a29;
  font-weight: bold;
  text-decoration: none;
}
  
a:hover {
  color: darken(#CA8A29, 10%);
}
  
#content {
  margin: 0 auto;
  width: 80%;
  background-color: #fcf3e5;
  padding: 32px;
}
  
#masthead {
  text-align: center;
}

#masthead h1 {
  /* CocoaDocs: */
  font-weight:bold;
  font-size: 50px;
  color: #5E2E20;
  margin:0;
}

#masthead h2 {
  /* Hosted Docs for Obje: */
  font-weight:bold;
  font-size: 18px;
  color: #352302;
  margin-top:10px;
}

#masthead em {
  color:#E6A33C;
  font-style:normal;
}
  
input#pod_search {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  background: white url(http://cocoapods.org/images/searchlens.png) 8px 7px no-repeat;
  border: 3px solid #E6A33C;
  width: 600px;
  font-size: 24px;
  font-family: inherit;
  font-weight: bold;
  padding: 6px 36px 6px 40px;
  margin: 30px auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
}
  
input#pod_search:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px rgba(230, 165, 50, 1);
  -moz-box-shadow: 0px 0px 10px rgba(230, 165, 50, 1);
  box-shadow: 0px 0px 10px rgba(230, 165, 50, 1);
}
  
#items {
  margin-top: 50px;
  text-align:center;
}
  
.library {
  width: 160px;
  height: 200px;
  background-color: white;
  display: inline-block;
  vertical-align:middle;
  margin: 10px;
  text-align:left;
  padding:10px;
  
  position:relative;
}

.library h2 {
  /* AFNetworking */
  font-weight:bold;
  font-size: 18px;
  color: #352302;
  line-height: 22px;
  margin-top: 0;
  word-break: break-all;
}
  
.library h3 {
  /* mattt AFNetworking: */
  font-weight:bold;
  font-size: 14px;
  color: #352302;
  line-height: 17px;
  padding-top: 0;
}
  
.library p {
  /* A delightful iOS and ... */
  font-weight:bold;
  font-size: 10px;
  color: #352302;
  line-height: 12px;
  height: 60px;
  text-overflow: ellipsis;
}
  
.library .button {
  background: #E3D8D4;
  margin-left: 20px;
  margin-right:20px;
  line-height: 30px;
  height: 30px;
  display: block;
  text-align: center;
  font-size: 20px;
  
  position:absolute;
  width:120px;
  bottom:20px;
}

.library .button:hover {
  background: #b7aeab;
}

#loading, #no_results {
  text-align:center;
  font-size: 36px;
  font-weight:bold;
  margin:48px;
}