<header id="app_header" class="hideInXcode">
  <div>
    <a href="/"><img id="logo" src="file:///Users/orta/dev/html/cocoadocs/public/img/CocoaDocsLogo2@2x.png" width="264" height="28" alt="CocoaDocsLogo2@2x"></a>
  
    <img id="actions" src="file:///Users/orta/dev/html/cocoadocs/public/img/header_action_button.png" width="65" height="65" alt="Header Action Button">
  
    <h1><%= spec.name %><em><%= @spec.version %></em></h1>
  
    <ul id="subtitle">
      <li><a href="<%= @spec.homepage %>"><%= @spec.or_contributors_to_spec %></a></li>

      <% if @spec.or_has_social_media_url? %>
      <li><a href="<%= @spec.social_media_url %>"><%= @spec.or_social_media_title %></a></li>
      <% end %>

      <% if @spec.or_spec_is_deprecated? %>
      <% end %>

      <% if @versions.count > 1 %>
      <li class="no-link" id="versions">Versions v
      <ul>
        <% @versions.reverse_each do |version| %>
          <li><a href="../<%= version %>"><%= version %></a></li>
        <% end %>
      </ul>
      </li>
      <% end %>

      <li class="no-link"><span class="subtitle">Documented</span><span="title">$$$DOC_PERCENT$$$%</span></li>
    </ul>
  </div>
</header>