<header id="app_header" class="hideInXcode">
  <div>

    <h1><a href="../index.html"><%= spec.name %><em><%= @spec.version %></em><a></h1>

    <a href="/" id="logo"></a>

    <div id="header_actions" width="65" height="65" alt="Header Action Button">
      <%= render_erb( Dir.pwd + '/views/appledoc_template/svg/settings_button.svg') %>
      <div id="dropdown">
        <div id="dash" style="display: none;">
          <p>Click to add to <a href="dash-feed://http%3A%2F%2Fcocoadocs.org%2Fdocsets%2FAAPullToRefresh%2FAAPullToRefresh.xml">Dash</a></p> <p class="subtext"><a href="http://kapeli.com/dash">What is Dash?</a></p>
        </div>
        <div id="xcode" style="display: block;">
          <p>Click to <a href="docs-for-xcode://http%3A%2F%2Fcocoadocs.org%2Fdocsets%2FAAPullToRefresh%2Fxcode-docset.atom">add to Xcode</a> (via <a href="http://documancer.com/xcode/">Docs for Xcode</a>)</p> <p>Or Copy &amp; Paste into Xcode 4's Prefs</p>
          <input readonly="YES" id="xcode_input" value="http://cocoadocs.org/docsets/AAPullToRefresh/xcode-docset.atom">
        </div>
      </div>
    </div>

    <div id="cover"></div>
    <ul id="subtitle">
      <li><a href="<%= @spec.homepage %>"><%= @spec.or_contributors_to_spec %></a></li>

      <% if @spec.or_has_social_media_url? %>
      <li><a href="<%= @spec.social_media_url %>">
        <% if @spec.or_has_twitter_url? %>
        <%= render_erb( Dir.pwd + '/views/appledoc_template/svg/twitter_bird.svg') %> <span class='twitter-handle'><%= @spec.or_twitter_handle %></span>
        <% else %>
          <%= @spec.or_social_media_title %>
        <% end %>
      </a></li>
      <% end %>

      <% if @spec.or_spec_is_deprecated? %>
      <% end %>

      <% if @versions.count > 1 %>
      <li class="no-link" id="versions">Versions <span class='arrow'>&#x25BC;</span>
      <ul>
        <% @versions.reverse_each do |version| %>
          <li><a href="../<%= version %>"><%= version %></a></li>
        <% end %>
      </ul>
      </li>
      <% end %>

      <li class="no-link"><span class="subtitle">Documented</span><span="title">$$$DOC_PERCENT$$$%</span></li>
    </ul>
  </div>
</header>
